.container{
  padding: 120px 420px;
  background-color: #f1f2f4;

  & .head{
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 10px;

    & > button{
      width: 50px;
      height: 50px;
    }
  }
  & .content{
    display: flex;
    gap: 10px;

    & .pricing{
      padding: 25px;
      background-color: #fff;
      border-radius: 5px;
      margin-bottom: 10px;

      & .checkboxs{
        display: flex;
        flex-direction: column;
        margin-top: 15px;
      }
    }
    & .customize{
      background-color: #fff;
      border-radius: 5px;

      & .customize-head{
        padding: 10px 25px;
        border-bottom: 1px solid #b9bcc1;
      }
      & .customize-border{
        padding: 10px 25px;
        border-bottom: 1px solid #b9bcc1;
      }
      & .customize-color{
        padding: 10px 25px;
        border-bottom: 1px solid #b9bcc1;
      }
      & .customize-typography{
        padding: 10px 25px;
      }
    }
    & .preview{
      padding: 25px;
      background-color: #fff;
      border-radius: 5px;

      & .preview-title{
        text-align: center;
        margin-top: 20px;
        margin-bottom: 10px;
      }
      & .preview-discounts{
        & .preview-discounts-item{
          & .preview-discounts-item-left{
            display: flex;

            & .customize-radiobutton{
              border: 1px solid black;
              border-radius: 50%;
              width: 20px;
              height: 20px;
              margin-right: 10px;
              display: flex;
              align-items: center;
              justify-content: center;  

              & .customize-radiobutton-inner{
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: black;
              }
            }
          }
        }
      }
    }
  }
}